{{ define "main" }}
<article class="page{{ if or (eq .Params.soort "heilige") (eq .Params.soort "feest") (eq .Params.soort "vasten") }} page-entry{{ end }}">
  <h1>{{ .Title }}</h1>
  {{ if or (eq .Params.soort "heilige") (eq .Params.soort "feest") (eq .Params.soort "vasten") }}
    {{ partial "infobox.html" . }}
  {{ else }}
    {{ with .Params.icoon }}
      <figure class="icon-figure">
        <img src="{{ . | relURL }}" alt="Afbeelding van {{ $.Title }}" width="240" height="240" loading="lazy">
        {{ partial "icoon-figcaption.html" (dict "bron" $.Params.icoon_bron "licentie" $.Params.icoon_licentie "toelichting" $.Params.icoon_toelichting) }}
      </figure>
    {{ end }}
  {{ end }}
  <div class="entry-body">
    {{ .Content }}
  </div>
</article>
{{ end }}
